/*CLASE PARA LA PAGINA MOVILES*/
.tel h1 {
  color: white;
  text-align: center;
  font-size: x-large;
}

/*EXTEND EN BANERS*/
.imagenaccesorios h1 {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.electro h1 {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.contac h1 {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.contacto {
  display: flex;
  flex-direction: column;
  width: 75%;
  color: blue;
  justify-content: center;
  margin-top: 30px;
}

.formulario h3 {
  color: blue;
  font-weight: bolder;
  font-size: larger;
}

.preguntas-frecuentes h3 {
  color: blue;
  font-size: x-large;
  font-weight: bold;
}

.mapa {
  display: flex;
  width: 50vw;
  margin-left: 30px;
  margin-bottom: 10vh;
}

/*CLASE PARA PREGUNTAS FRECUENTES EN SECTION CONTACTOS*/
.accordion {
  width: 75%;
}

.accordion-button {
  color: blue;
}

.accordion-button:hover {
  background-color: blue;
  color: white;
}

.pagina-youtube h3 {
  color: blue;
  font-size: x-large;
}

/*DIRECCION DEL LOCAL EN PAGINA CONTACTO*/
.direccion {
  font-size: 10px;
}

.carousel-item img {
  width: 100px;
  height: 45vh;
}

@media (min-width: 500px) {
  .carousel-item img {
    height: 55vh;
  }
}
@media (min-width: 750px) {
  .carousel-item img {
    height: 70vh;
  }
}
@media (min-width: 900px) {
  .carousel-item img {
    height: 85vh;
  }
  #carouselExampleAutoplaying {
    width: 65%;
    margin: 0 auto;
  }
}
/*WHATSAPP*/
.redes-sociales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  bottom: 20%;
  right: 30px;
}

.iconoredessociales {
  width: 35px;
}

.youtube {
  width: 15vh;
  margin: end;
  margin-bottom: 20px;
  margin-left: 20px;
}

.celulares {
  background-color: antiquewhite;
  width: 350px;
  height: 450px;
  padding: 30px;
  text-align: center;
  margin-right: 20px;
  position: relative;
}

.celulares img {
  width: 300px;
  height: 250px;
  display: block;
  margin: 0 auto;
  transition: width 1s;
}
.celulares img:hover {
  width: 350px;
}

.celulares img {
  transition: width 1s;
}
.celulares img:hover {
  width: 350px;
}

.celulares p {
  margin: 10px;
}

.celulares button {
  padding: 4px;
  border-radius: 10px;
  font-weight: lighter;
  cursor: pointer;
}

.celulares button:hover {
  background-color: green;
  border: none;
}

.padre-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.descuentos {
  position: absolute;
  top: 0;
  right: 5px;
  background-color: green;
}

* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.px {
  font-size: 16px;
}

.rem {
  font-size: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #c5c0c0;
}

header {
  background-color: #250c6c;
  color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

header img {
  width: 140px;
  border-radius: 30px;
}

.enlaces {
  background-color: #c5c0c0;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  margin: 50px o;
}

section {
  margin: 30px;
}

.carrito {
  cursor: pointer;
}

footer {
  padding: 20px;
  margin-top: 20px;
  background-color: #232323;
  color: #c5c0c0;
  text-align: center;
}

/*CSS BOOTSTRAP MENU */
.bienvenidos {
  background-image: url(../img/bienvenida-imagen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bienvenidos h1 {
  color: aliceblue;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.navbar {
  background-color: #250c6c;
  font-weight: bold;
  font-size: 22px;
}

.navbar-toggler {
  background-color: #fff;
  color: #250c6c;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}

.caja, .tel, .imagenaccesorios, .electro, .contac {
  background-color: #c0189b;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marcas {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
}

.marcas img {
  width: 13vw;
  height: 9vh;
}

/*ANIMACIONES*/
.bienvenidos h1 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
