*{
    margin: 0px;
    padding: 0px;
    }
ul {
    list-style-type: none;
}
h1 {
text-align: center;
}
h2 {text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.px {
    font-size: 16px;
}
.rem {
    font-size: 1rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    
    background-color: #c5c0c0;
}
header {
    background-color: #4927a0;
    color: white;
    padding: 10px 0 ;
    position: sticky;
    top: 0;
    z-index: 1;
}
header img {
    width: 300px;
    
    
}

.enlaces {
    
    background-color: #c5c0c0;
    
    border-radius: 15px;
}
a {
text-decoration: none;
}

img {
    max-width: 100%;
}
section {
    margin: 50px o;
}
section {
    margin: 30px;
}

.carrito {
    cursor: pointer;
margin-right: 10px;
}
.car-compras{
    background-color: #232323;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
justify-content: end;
height: 45px;
}
.car-compras h2 {
    font-size: small;
}


footer {
    padding: 20px;
    margin-top: 20px;
    background-color: #232323;
    color: #c5c0c0;
    text-align: center;
}

/*CSS BOOTSTRAP MENU */
.bienvenidos {
    /*background-image: url(../img/bienvenida-imagen.jpg);*/
    background-color: #938dcd;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bienvenidos h1 {
    color: aliceblue;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.navbar {
    background-color: #4927a0;
    font-weight: bold;
    font-size: 22px;
}
.navbar-toggler {
    background-color: #fff;
    color: #250c6c;
   
}
.navbar-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    text-decoration: none;
}
.navbar-nav .nav-link.active {
    color: #fff;
}
@media (min-width: 990px) {
    .collapse {
        justify-content: flex-end;
    }
}
.carrito {
    margin-left: 20px;
}
/*No funciona*/
@media (min-width:460px){
    .carrito {
        flex-direction: row;
        justify-content: end;
    }
}






