.celulares {
    background-color: antiquewhite;
    width: 350px;
    height: 450px;
    padding: 30px;
    text-align: center;
    margin-right: 20px;
    position: relative;
}

.celulares img {
    width: 300px;
    height: 250px;
    display: block;
    margin: 0 auto;
    transition: width 1s;
    &:hover {
        width: 350px;
    }
}
.celulares img {
    transition: width 1s;
    &:hover {
        width: 350px;
    }
}
.celulares p {
    margin: 10px;
}
.celulares button{
    padding: 5px;
    border-radius: 10px;
    font-weight: lighter;
    cursor: pointer;
}


.padre-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}



.descuentos{
    position: absolute;
    top: 0;
    right: 5px;
    background-color: green;
}