/*CLASE PARA LA PAGINA MOVILES*/
.tel {
    @extend .caja;
}
.tel h1 {
    color: white;
    text-align: center;
    font-size: x-large;
}


/*EXTEND EN BANERS*/
.imagenaccesorios {
    @extend .caja;
}
.imagenaccesorios h1 {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.electro {
    @extend .caja;
}
.electro h1 {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.contac {
    @extend .caja;
}
.contac h1 {
    color: white;
    font-weight: bold;
    font-size: x-large;
}
.contacto {
    display: flex;
    flex-direction: column;
    width: 75%;
    color: blue;
    justify-content: center;
    margin-top: 30px;
}

.formulario h3 {
    color: blue;
    font-weight: bolder;
    font-size: larger;
}
.preguntas-frecuentes h3 {
color: blue;
font-size: x-large;
font-weight: bold;
}
.mapa {
    display: flex;
    width: 50vw;
    margin-left: 30px;
    margin-bottom: 10vh;
}
/*CLASE PARA PREGUNTAS FRECUENTES EN SECTION CONTACTOS*/

.accordion {
    width: 75%;
}
.accordion-button {
    color: blue;
}
.accordion-button:hover {
    background-color: blue;
    color: white;
}
.pagina-youtube h3 {
color: blue;
font-size: x-large;
}
/*DIRECCION DEL LOCAL EN PAGINA CONTACTO*/
.direccion {
font-size: 10px;
}
