/*WHATSAPP*/
.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    bottom: 20%;
    right: 30px;
}
.iconoredessociales{
    width: 45px;
}
.youtube {
    width: 15vh;
    margin: end;
    margin-bottom: 20px;
    margin-left: 20px;
}
.pagina-youtube {
    background-color: #938dcd;
    display: flex;
    flex-direction: column;
    
    width: 40%;
}