.caja {
    background-color: #c0189b;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex {
    display: flex;
    flex-direction: row;
}
@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}
.marcas {
    @include flex;
    gap: 10px;
}
.marcas img {
    width: 16vw;
    height: 12vh;
}


/*ANIMACIONES*/
.bienvenidos h1 {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

